/* BASIC SETUP */
*, *:before, *:after {
    box-sizing: border-box;
  }

html {
    color: #555;
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    letter-spacing: .8px;
    height: 100%;
}

/* REUSABLE COMPONENTS */ 

body {
    position: relative;
    height: 100%;
}

.wrap {
    height: 100%;  
    position: relative;
    overflow: hidden;
}
    
.bg {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    background: url('images/space.jpg') no-repeat center center;
    background-size: cover;

    transform: scale(1.1);
}

/* NAV */

.rocket {
    width: 40px;
    padding-right: 10px;
}

.navbar-nav li a {
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
    font-size: 75%;
}


/* BODY */

.rocket-girl h1 {
    position: absolute;
    top: 40%;
    left: 5%;  
    color: white;
    font-size: 250%;
    letter-spacing: 2px;
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
}

#shipcanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Makes sure this is underneath other HTML elements (on my site, it's behind a login form  */
  }